@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap");
@import "utils/variables";

body {
  background-color: $backMainColor;
  color: white;

  font-family: "Inter", sans-serif;
  text-align: center;
}

a {
  color: rgb(47, 107, 218);
}
