@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');

$backMainColor: #1a1a1d;

body {
  background-color: $backMainColor;
  color: white;

  font-family: "Inter", sans-serif;
  text-align: center;
}