@import "./index.scss";

.userForm {
  margin: auto;
  width: 50%;
  padding-left: 10px;
  text-align: center;

  input {
    border-radius: 7px;

    display: block;
    padding: 12px 20px;
    margin: auto;
    margin-bottom: 10px;
    width: 75%;
    box-sizing: border-box;
  }
}
